RewriteEngine On

#accept loading of actual and directories
RewriteEngine %{REQUEST_FILENAME} !-f
RewriteEngine %{REQUEST_FILENAME} !-d

#send everything else to the index page
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]